.upcoming-card-wrapper {
  box-shadow: 4px 5px 5px 0px rgba(0, 0, 0, 0.22);
  border-radius: 10px;
  height: fit-content;
  transition: 0.4s ease-in;
}

.upcoming-card-wrapper:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.notify-btn {
  width: 15rem;
}
