/* Cart card styles */

.cart-card-wrapper {
  width: 40rem;
  height: fit-content;
  margin: 1rem;
  transition: 0.4s ease-in;
}

.cart-card-header > h2 {
  font-size: 1.5rem;
}

.cart-card-wrapper:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.cart-card-image-wrapper > .responsive-image {
  max-width: 20rem;
  aspect-ratio: 4/3;
}

.remove-btn {
  font-size: 0.9rem;
  width: 100%;
}

/* Wishlist Button Styles */

.cart-wishlist-btn {
  font-size: 0.9rem;
  width: 100%;
}

.cart-wishlist-btn:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/* Quantity Section Styles */

.quantity-btn {
  width: fit-content;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  margin: 0.5rem 1rem;
}

.quantity-btn > i {
  padding: 1rem;
}

.quantity-input {
  display: block;
  margin: 0.6rem;
  font-size: 20px;
}
