:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

body {
  color: var(--primary-color);
  font-family: "Merriweather", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}
